/* App.css */
.app {
    color: #000;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;

    /*  */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app-sub {
    background: #fffcfc;
    transition: background-color 0.3s, color 0.3s;
    border: 1px solid #fff;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .dark-mode {
    color: #fff;
    background-color: #333;
  }
  